<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/">Test Front</a>
  <button class="navbar-toggler hidden-sm-up" type="button" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/">Início</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/entrar">Entrar</a>
      </li>
    </ul>
  </div>
</nav>

<main class="col-12 py-md-4 bd-content" role="main">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>
