<div class="col-12">
  <div class="row">
    <div class="col-12">
      <h2 class="bd-title" id="content">Todos os produtos</h2>
    </div>
    <div class="col-12">
      <table class="table table-striped text-left">
        <thead>
        <tr>
          <td>#</td>
          <td>Nome</td>
          <td>description</td>
          <td>Opções</td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of product">
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td>{{item.description}}</td>
          <td></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
